/* Bryce's Branch */

#flex_first {
    display: flex;
}

#flex_second {
    display: flex;
}

#grid_first {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

#grid_first > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
}

#grid_second {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px;
    grid-gap: 10px;
    justify-content: stretch;
  }
  
#grid_second--full {
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px;
  grid-gap: 10px;
}


.box1 {
    grid-area: box1;
    grid-column: span 6;
    grid-row: 1;
}

.box2 {
    grid-area: box2;
    grid-column: 1;
    grid-row: 2;
}

.box3 {
    grid-area: box3;
    grid-column: 2;
    grid-row: 2;
}

.box4 {
    grid-area: box4;
    grid-column: 3;
    grid-row: 2;
}

.box5 {
    grid-area: box2;
    grid-column: 1;
    grid-row: 3;
}

.box6 {
    grid-area: box3;
    grid-column: 2;
    grid-row: 3;
}

.box7 {
    grid-area: box4;
    grid-column: 3;
    grid-row: 3;
}

.box8 {
    grid-area: box2;
    grid-column: 1;
    grid-row: 4;
}

.box9 {
    grid-area: box3;
    grid-column: 2;
    grid-row: 4;
}





